.card-body {
	overflow: hidden;
}

.card {
	padding: 0px;
	background-clip: padding-box;
	background-size: cover;
	box-sizing: border-box;
	position: relative;
	height: auto;
	flex: 0 1 24%;
	background-color: rgb(255, 255, 255);
	z-index: 0;
	width: 200px;
	border-radius: 20px;
}

.card-footer {
	background-color: transparent;
}

.card-footer-Quicklook {
	font-size: 11px;
	width: auto;
}

.card-footer-Tasks {
	font-size: 11px;
}

#sideNav-tabpane-home {
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	justify-content: space-between;
	overflow-y: auto;
	overscroll-behavior: none;
	height: 90vh;
}

/* #sideNav-tabpane-home {
	display: grid;
	grid-template-columns: ;
	overflow-y: auto;
	overscroll-behavior: none;
	height: 90vh;
} */
