#modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#modal-background {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #4f789969;
}

.modal__content {
	position: absolute;
	background-color: white;
	size: Large;
	border: 1px solid black;
	border-radius: 5px;
	height: auto;
	max-height: 85vh;
	width: auto;
	padding: 10px;
	overflow-y: auto;
	animation: fade-in 1s;
}

@keyframes fade-in {
	from {
		background-color: transparent;
		background: transparent;
		hidden: true;
		border: none;
		border-color: transparent;
		color: transparent;
		box-shadow: none;
	}
	to {
		background-color: white;
		border: 1px solid black;
	}
}
