.outer {
  display: flex;
  flex-direction: row;
}

.task-sub-container {
  margin-top: 15px;
  background-color: white;
  border-radius: 8px;
  width: 400px;
}

.task-page-container input {
  
}

/* .task-list-container {
  border-style: dotted;
} */