.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: none;
  color: #1c6cae;
  font-weight: bold;
}

.nav-pills .nav-link, .nav-pills .show>.nav-link {
  width: 100%;
}

.SideNavigation_tabContainer__3nUod {
  height: 92.5vh;
  overflow: scroll;
}

.SideNavigation_tabContainer__3nUod::-webkit-scrollbar {
  display: none;
}
