.deleteBtn {
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: black;
	background-color: transparent;
}

.list_div {
	display: flex;
}

.deleteBtn:hover {
	background-color: red;
	color: black;
}

.listName {
	white-space: nowrap;
	max-width: 16ch;
	overflow: hidden;
	text-overflow: ellipsis;
}
