.task-page-container {
	background-color: white;
	padding: 20px;
	width: 700px;
	max-height: 100vh;
	border-radius: 10px;
	margin-top: 15px;
}

/* .task-list-container {
	max-height: 80vh;
	overflow-y: scroll;
} */

.task-page-container > .task-container {
	margin: 10px;
	border-bottom: 1px dotted #D0D3D6;
	height: 30px;
	overflow: hidden;
}

.task-container {
  background-color: white;
	display: flex;
  flex-direction: row;
	border-bottom: 1px dotted black;
  padding-top: 4px;
  cursor: pointer;
}

.task-container input{
  margin-top: 1px;
}

.task-container h1 {
	font-size: small;
  margin-left: 5px;
}
