.task {
  border-bottom: 1px dotted gray;
  padding-top: 2px;
  padding-bottom: 2px;
}

.task-container {
  display: flex
}

.task-container h1 {
  font-size: small;
}

.task-container input {
 vertical-align: middle;
}

